.course-view {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.course-view.ar {
  direction: rtl;
}

.course-view.en, .course-view.En {
  direction: ltr;
}

.course-view h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.lecture-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lecture-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-sizing: border-box;
}

.lecture-item a {
  text-decoration: none;
  color: #007bff;
}

.lecture-item button {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btn.add-lecture {
  background-color: #007bff;
  color: white;
}

.btn.start-meeting {
  background-color: #28a745;
  color: white;
}

.btn.delete-lecture {
  background-color: #dc3545;
  color: white;
}

.btn.delete-lecture:hover {
  background-color: #c82333;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .lecture-item {
  background-color: #f0f0f0;
}

.light-mode .btn.add-lecture {
  background-color: #007bff;
  color: white;
}

.light-mode .btn.start-meeting {
  background-color: #28a745;
  color: white;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode .lecture-item {
  background-color: #333333;
}

.dark-mode .btn.add-lecture {
  background-color: #0056b3;
  color: white;
}

.dark-mode .btn.start-meeting {
  background-color: #1e7e34;
  color: white;
}

.delete-lecture {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  background-color: #c82333;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.delete-lecture:hover {
  background-color: #b21f2d;
}

.drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.drag-overlay.visible {
  opacity: 1;
  pointer-events: all;
}

.course-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.lecture-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-details span {
  display: block;
  margin-bottom: 10px;
}
